[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
